<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle icon-only>
            <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>Estudiar</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-icon item-start ios="" md=""></ion-icon>
        <ion-label>Grupo del Instrumento</ion-label>
        <ion-select>
            <ion-option value="Viento">Viento</ion-option>
            <ion-option value="Cuerdas">Cuerdas</ion-option>
            <ion-option value="Percusion">Percusion</ion-option>
        </ion-select>
    </ion-item>
    <br>
    <br>
    <ion-item>
        <ion-icon item-start ios="" md=""></ion-icon>
        <ion-label> Instrumento</ion-label>
        <ion-select>
            <ion-option value="Guitarra">Guitarra</ion-option>
            <ion-option value="Violin">Violin</ion-option>
            <ion-option value="Bajo">Bajo</ion-option>
        </ion-select>
    </ion-item>
    <br>
    <br>
    <br>

    <ion-fab bottom left *ngIf="timer.runTimer && timer.hasStarted && !timer.hasFinished">
        <button ion-fab color="primary" (click)="pauseTimer()">
            <ion-icon name="pause"></ion-icon>
        </button>
    </ion-fab>
    <ion-fab bottom left *ngIf="!timer.runTimer && timer.hasStarted && !timer.hasFinished">
        <button ion-fab color="primary" (click)="resumeTimer()">
            <ion-icon name="play"></ion-icon>
        </button>
    </ion-fab>
    <ion-fab bottom left *ngIf="!timer.hasStarted"> //show only if timer has not started
        <button ion-fab color="primary" (click)="startTimer()" item-right>
            <ion-icon name="play"></ion-icon>
        </button>
    </ion-fab>

    <ion-fab bottom right *ngIf="!timer.runTimer && (timer.hasStarted || timer.hasFinished) || timer.hasFinished">
        <button ion-fab color="danger" (click)="initTimer()" item-left>
            <ion-icon name="refresh"></ion-icon>
        </button>
    </ion-fab>
    <div>
        <ion-item class="no-bottom-border item">
            <h1 text-center color="primary" class="timer-button timer-text">{{timer.displayTime}}</h1>
        </ion-item>
    </div>
</ion-content>